<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %} <!--csrf_token serve para evitar algum acesso malicioso sem ser do método requisitado-->
        <div align="center">
            <label>Usuário:</label>
            <input type="text" name ="username">
            <label>Password:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>    
    </form>

    {% for message in messages %}
        <div align="center">
            <strong>Erro! </strong>{{message}}
        </div>
    {% endfor %}
</body>
</html>